VITE_SUPABASE_URL=https://taszzpdwuofcnujgtoit
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRhc3p6cGR3dW9mY251amd0b2l0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQyNzgwNjIsImV4cCI6MjA4OTg1NDA2Mn0.8Tt5XvR_xLNstt3Q0ugxuAJWCFXNdowvjxtsO4qs-PE
